<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>userInput.jsp</title>
	<th:block th:insert="~{/include/bs4}"></th:block>
</head>
<body>
<p><br/></p>
<div class="container">
  <form method="post">
	  <h2>회 원 가 입</h2>
	  <table class="table table-bordered">
	    <tr>
	      <th>아이디</th>
	      <td><input type="text" name="mid" class="form-control"/></td>
	    </tr>
	    <tr>
	      <th>성명</th>
	      <td><input type="text" name="name" class="form-control"/></td>
	    </tr>
	    <tr>
	      <th>나이</th>
	      <td><input type="number" name="age" value="20" class="form-control"/></td>
	    </tr>
	    <tr>
	      <th>주소</th>
	      <td><input type="text" name="address" class="form-control"/></td>
	    </tr>
			<!--
	    <tr>
	      <th>회원사진</th>
	      <td><input type="file" name="file" class="form-control-file border"/></td>
	    </tr>
			-->
	    <tr>
	      <td colspan="2" class="text-center">
	        <input type="submit" value="회원가입" class="btn btn-success"/>
	        <input type="reset" value="다시입력" class="btn btn-warning"/>
	        <input type="button" value="돌아가기" th:onclick="|location.href='@{/user/userList}'|" class="btn btn-secondary"/>
	      </td>
	    </tr>
	  </table>
  </form>
</div>
<p><br/></p>
</body>
</html>